USE [GoogleMapV3]
GO
/****** Object:  Table [dbo].[DataDA]    Script Date: 01/28/2015 17:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataDA](
	[LatLng] [varchar](max) NULL,
	[Center] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DataDA] PRIMARY KEY CLUSTERED 
(
	[Center] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DataDA] ([LatLng], [Center]) VALUES (N'21.012947491095876, 105.81278944002406;21.010764126148747, 105.81632995592372;21.012647029926104, 105.8177676199557;21.015391219463, 105.81427001940028', N'21.012967521819007, 105.81416273103969')
INSERT [dbo].[DataDA] ([LatLng], [Center]) VALUES (N'21.02001816922618, 105.80487155966694;21.021420246870004, 105.80804729514057;21.021420246870004, 105.81152343802387;21.01945733447702, 105.81173801474506;21.017013672737146, 105.80903434805805;21.017814877719964, 105.8053865437978', N'21.01953745385605, 105.80847644858295')
INSERT [dbo].[DataDA] ([LatLng], [Center]) VALUES (N'21.021580483475496, 105.81632995657856;21.02294248766892, 105.81920528464252;21.02198107423577, 105.82353973441059;21.018856437762075, 105.8176174169057', N'21.020779298725945, 105.81881904654438')
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 01/28/2015 17:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhuVuc] ON
INSERT [dbo].[KhuVuc] ([ID], [Title], [Location]) VALUES (1, N'Cầu giấy', NULL)
INSERT [dbo].[KhuVuc] ([ID], [Title], [Location]) VALUES (2, N'Nguyễn Khang', NULL)
INSERT [dbo].[KhuVuc] ([ID], [Title], [Location]) VALUES (3, N'Dũng con 05', NULL)
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
/****** Object:  Table [dbo].[UtilityKind]    Script Date: 01/28/2015 17:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilityKind](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_UtilityKind] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UtilityKind] ON
INSERT [dbo].[UtilityKind] ([ID], [Title]) VALUES (1, N'Nhà hàng')
INSERT [dbo].[UtilityKind] ([ID], [Title]) VALUES (2, N'Siêu thị')
SET IDENTITY_INSERT [dbo].[UtilityKind] OFF
/****** Object:  Table [dbo].[Marker]    Script Date: 01/28/2015 17:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marker](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[ImgUrl] [nvarchar](100) NULL,
	[LayerID] [int] NULL,
	[Position] [varchar](100) NULL,
 CONSTRAINT [PK_Marker] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Marker] ON
INSERT [dbo].[Marker] ([ID], [Title], [ImgUrl], [LayerID], [Position]) VALUES (4, N'Nhà hàng', N'~/Content/images/Restaurant-Blue-icon.png', 1, N'21.0148, 105.8147')
INSERT [dbo].[Marker] ([ID], [Title], [ImgUrl], [LayerID], [Position]) VALUES (5, N'Siêu thị', N'~/Content/images/surpermarket.png', 2, N'21.0249, 105.815')
INSERT [dbo].[Marker] ([ID], [Title], [ImgUrl], [LayerID], [Position]) VALUES (6, N'Nhà hàng tàu', N'~/Content/images/Restaurant-Blue-icon.png', 1, N'21.026647877276574, 105.79002284990565')
SET IDENTITY_INSERT [dbo].[Marker] OFF
/****** Object:  Table [dbo].[DuAn]    Script Date: 01/28/2015 17:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DuAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuVuc] [int] NULL,
	[TenDuAn] [nvarchar](50) NULL,
	[ToaDo] [varchar](50) NULL,
	[AnhDaiDien] [varchar](50) NULL,
	[DienTich] [nvarchar](50) NULL,
	[GiaThue] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[VungBien] [nvarchar](max) NULL,
	[AnhIcon] [nvarchar](200) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DuAn] ON
INSERT [dbo].[DuAn] ([ID], [MaKhuVuc], [TenDuAn], [ToaDo], [AnhDaiDien], [DienTich], [GiaThue], [TrangThai], [VungBien], [AnhIcon]) VALUES (1, 3, N'AOE Club', N'21.012967521819007, 105.81416273103969', N'~/Content/images/building.png', N'1000 m2', N'5k/Tiếng', N'I''m Ready', N'21.012947491095876, 105.81278944002406;21.010764126148747, 105.81632995592372;21.012647029926104, 105.8177676199557;21.015391219463, 105.81427001940028', N'/Content/Images/index.jpg')
INSERT [dbo].[DuAn] ([ID], [MaKhuVuc], [TenDuAn], [ToaDo], [AnhDaiDien], [DienTich], [GiaThue], [TrangThai], [VungBien], [AnhIcon]) VALUES (2, 2, N'AOE Duy Khanh', N'21.021440276455106, 105.8132829664828411349', N'~/Content/images/building.png', N'100', N'asdgsdfg', N'asdf', N'21.01659303839799, 105.81499958025233;21.0197577819264, 105.80828332887904;21.02474512114495, 105.81145906435268;21.023282986773072, 105.8197846411349', N'/Content/Images/index.jpg')
INSERT [dbo].[DuAn] ([ID], [MaKhuVuc], [TenDuAn], [ToaDo], [AnhDaiDien], [DienTich], [GiaThue], [TrangThai], [VungBien], [AnhIcon]) VALUES (3, 1, N'Test 03', N'21.026647877276574, 105.79002284990565', N'~/Content/images/building.png', N'100', N'500k/Shot', N'On Demand', N'21.02348328000047, 105.79015159593837;21.027048454419813, 105.78798437105434;21.02780954802601, 105.78935766206996;21.02985246427782, 105.78961515413539;21.029071352546985, 105.7928767202975;21.026387501556176, 105.79154634462611;21.025105645224382, 105.79238319383876', N'/Content/Images/index.jpg')
SET IDENTITY_INSERT [dbo].[DuAn] OFF
/****** Object:  ForeignKey [FK_DuAn_KhuVuc]    Script Date: 01/28/2015 17:08:32 ******/
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_KhuVuc]
GO
/****** Object:  ForeignKey [FK_Marker_UtilityKind]    Script Date: 01/28/2015 17:08:32 ******/
ALTER TABLE [dbo].[Marker]  WITH CHECK ADD  CONSTRAINT [FK_Marker_UtilityKind] FOREIGN KEY([LayerID])
REFERENCES [dbo].[UtilityKind] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Marker] CHECK CONSTRAINT [FK_Marker_UtilityKind]
GO
